plugins/chemistry-opencmis-commons-impl/wsdl/CMIS-Messaging.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
		Licensed under the Apache License, Version 2.0 (the "License"); you
		may not use this file except in compliance with the License. You may
		obtain a copy of the License at

		http://www.apache.org/licenses/LICENSE-2.0 Unless required by
		applicable law or agreed to in writing, software distributed under the
		License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
		CONDITIONS OF ANY KIND, either express or implied. See the License for
		the specific language governing permissions and limitations under the
		License.
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:cmis="http://docs.oasis-open.org/ns/cmis/core/200908/"
  xmlns:cmism="http://docs.oasis-open.org/ns/cmis/messaging/200908/"
  xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
  xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc"
  elementFormDefault="qualified"
  jaxb:extensionBindingPrefixes="xjc"
  targetNamespace="http://docs.oasis-open.org/ns/cmis/messaging/200908/"
  version="1.0"
  jaxb:version="2.1" >

  <xs:import
    namespace="http://docs.oasis-open.org/ns/cmis/core/200908/"
    schemaLocation="CMIS-Core.xsd" />

  <!-- exceptions -->

  <xs:complexType name="cmisFaultType" >

    <xs:sequence >

      <xs:element
        name="type"
        type="cmism:enumServiceException" />

      <xs:element
        name="code"
        type="xs:integer" />

      <xs:element
        name="message"
        type="xs:string" />

      <xs:any
        maxOccurs="unbounded"
        minOccurs="0"
        namespace="##other" />
    </xs:sequence>
  </xs:complexType>

  <xs:element
    name="cmisFault"
    type="cmism:cmisFaultType" />

  <xs:simpleType name="enumServiceException" >

    <xs:restriction base="xs:string" >

      <xs:enumeration value="constraint" />

      <xs:enumeration value="nameConstraintViolation" />

      <xs:enumeration value="contentAlreadyExists" />

      <xs:enumeration value="filterNotValid" />

      <xs:enumeration value="invalidArgument" />

      <xs:enumeration value="notSupported" />

      <xs:enumeration value="objectNotFound" />

      <xs:enumeration value="permissionDenied" />

      <xs:enumeration value="runtime" />

      <xs:enumeration value="storage" />

      <xs:enumeration value="streamNotSupported" />

      <xs:enumeration value="updateConflict" />

      <xs:enumeration value="versioning" />
    </xs:restriction>
  </xs:simpleType>

  <!-- extension -->

  <xs:complexType name="cmisExtensionType" >

    <xs:sequence >

      <xs:any
        maxOccurs="unbounded"
        minOccurs="0"
        namespace="##other" />
    </xs:sequence>
  </xs:complexType>

  <!-- types for WS -->

  <xs:complexType name="cmisTypeContainer" >

    <xs:sequence >

      <xs:element
        maxOccurs="1"
        minOccurs="1"
        name="type"
        type="cmis:cmisTypeDefinitionType" />

      <xs:element
        maxOccurs="unbounded"
        minOccurs="0"
        name="children"
        type="cmism:cmisTypeContainer" />

      <xs:any
        maxOccurs="unbounded"
        minOccurs="0"
        namespace="##other"
        processContents="lax" />
    </xs:sequence>

    <xs:attributeGroup ref="cmis:cmisUndefinedAttribute" />
  </xs:complexType>

  <xs:complexType name="cmisTypeDefinitionListType" >

    <xs:sequence >

      <xs:element
        maxOccurs="unbounded"
        minOccurs="0"
        name="types"
        type="cmis:cmisTypeDefinitionType" />

      <xs:element
        maxOccurs="1"
        minOccurs="1"
        name="hasMoreItems"
        type="xs:boolean" />

      <xs:element
        maxOccurs="1"
        minOccurs="0"
        name="numItems"
        type="xs:integer" />

      <xs:any
        maxOccurs="unbounded"
        minOccurs="0"
        namespace="##other"
        processContents="lax" />
    </xs:sequence>

    <xs:attributeGroup ref="cmis:cmisUndefinedAttribute" />
  </xs:complexType>

  <xs:complexType name="cmisObjectInFolderContainerType" >

    <xs:sequence >

      <xs:element
        maxOccurs="1"
        minOccurs="1"
        name="objectInFolder"
        type="cmism:cmisObjectInFolderType" />

      <xs:element
        maxOccurs="unbounded"
        minOccurs="0"
        name="children"
        type="cmism:cmisObjectInFolderContainerType" />

      <xs:any
        maxOccurs="unbounded"
        minOccurs="0"
        namespace="##other"
        processContents="lax" />
    </xs:sequence>

    <xs:attributeGroup ref="cmis:cmisUndefinedAttribute" />
  </xs:complexType>

  <xs:complexType name="cmisObjectListType" >

    <xs:sequence >

      <xs:element
        maxOccurs="unbounded"
        minOccurs="0"
        name="objects"
        type="cmis:cmisObjectType" />

      <xs:element
        maxOccurs="1"
        minOccurs="1"
        name="hasMoreItems"
        type="xs:boolean" />

      <xs:element
        maxOccurs="1"
        minOccurs="0"
        name="numItems"
        type="xs:integer" />

      <xs:any
        maxOccurs="unbounded"
        minOccurs="0"
        namespace="##other"
        processContents="lax" />
    </xs:sequence>

    <xs:attributeGroup ref="cmis:cmisUndefinedAttribute" />
  </xs:complexType>

  <xs:complexType name="cmisObjectInFolderType" >

    <xs:sequence >

      <xs:element
        maxOccurs="1"
        minOccurs="1"
        name="object"
        type="cmis:cmisObjectType" />

      <xs:element
        maxOccurs="1"
        minOccurs="0"
        name="pathSegment"
        type="xs:string" />

      <xs:any
        maxOccurs="unbounded"
        minOccurs="0"
        namespace="##other"
        processContents="lax" />
    </xs:sequence>

    <xs:attributeGroup ref="cmis:cmisUndefinedAttribute" />
  </xs:complexType>

  <xs:complexType name="cmisObjectParentsType" >

    <xs:sequence >

      <xs:element
        maxOccurs="1"
        minOccurs="1"
        name="object"
        type="cmis:cmisObjectType" />

      <xs:element
        maxOccurs="1"
        minOccurs="0"
        name="relativePathSegment"
        type="xs:string" />

      <xs:any
        maxOccurs="unbounded"
        minOccurs="0"
        namespace="##other"
        processContents="lax" />
    </xs:sequence>

    <xs:attributeGroup ref="cmis:cmisUndefinedAttribute" />
  </xs:complexType>

  <xs:complexType name="cmisObjectInFolderListType" >

    <xs:sequence >

      <xs:element
        maxOccurs="unbounded"
        minOccurs="0"
        name="objects"
        type="cmism:cmisObjectInFolderType" />

      <xs:element
        maxOccurs="1"
        minOccurs="1"
        name="hasMoreItems"
        type="xs:boolean" />

      <xs:element
        maxOccurs="1"
        minOccurs="0"
        name="numItems"
        type="xs:integer" />

      <xs:any
        maxOccurs="unbounded"
        minOccurs="0"
        namespace="##other"
        processContents="lax" />
    </xs:sequence>

    <xs:attributeGroup ref="cmis:cmisUndefinedAttribute" />
  </xs:complexType>

  <xs:complexType name="cmisRepositoryEntryType" >

    <xs:sequence >

      <xs:element
        maxOccurs="1"
        minOccurs="1"
        name="repositoryId"
        type="xs:string" />

      <xs:element
        maxOccurs="1"
        minOccurs="1"
        name="repositoryName"
        type="xs:string" />

      <xs:any
        maxOccurs="unbounded"
        minOccurs="0"
        namespace="##other"
        processContents="lax" />
    </xs:sequence>

    <xs:attributeGroup ref="cmis:cmisUndefinedAttribute" />
  </xs:complexType>

  <xs:complexType name="cmisContentStreamType" >

    <xs:sequence >

      <xs:element
        minOccurs="0"
        name="length"
        type="xs:integer" />

      <xs:element
        minOccurs="0"
        name="mimeType"
        type="xs:string" />

      <xs:element
        minOccurs="0"
        name="filename"
        type="xs:string" />

      <xs:element
        xmlns:xmime="http://www.w3.org/2005/05/xmlmime"
        xmime:expectedContentTypes="application/octet-stream"
        name="stream"
        type="xs:base64Binary" />

      <xs:any
        maxOccurs="unbounded"
        minOccurs="0"
        namespace="##other"
        processContents="lax" />
    </xs:sequence>

    <xs:attributeGroup ref="cmis:cmisUndefinedAttribute" />
  </xs:complexType>

  <xs:complexType name="cmisACLType" >

    <xs:sequence >

      <xs:element
        maxOccurs="1"
        minOccurs="1"
        name="ACL"
        type="cmis:cmisAccessControlListType" />

      <xs:element
        maxOccurs="1"
        minOccurs="0"
        name="exact"
        type="xs:boolean" />

      <xs:any
        maxOccurs="unbounded"
        minOccurs="0"
        namespace="##other"
        processContents="lax" />
    </xs:sequence>

    <xs:attributeGroup ref="cmis:cmisUndefinedAttribute" />
  </xs:complexType>

  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
  <!-- [Repository Services] -->


  <!-- getRepositories Operation -->

  <xs:element name="getRepositories" >

    <xs:complexType >

      <xs:sequence >

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="extension"
          nillable="true"
          type="cmism:cmisExtensionType" >

          <xs:annotation >

            <xs:documentation >

							This is an extension element to hold any
							repository or
							vendor-specific extensions
						
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="getRepositoriesResponse" >

    <xs:complexType >

      <xs:sequence >

        <xs:element
          maxOccurs="unbounded"
          minOccurs="0"
          name="repositories"
          nillable="true"
          type="cmism:cmisRepositoryEntryType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- getRepositoryInfo Operation -->

  <xs:element name="getRepositoryInfo" >

    <xs:complexType >

      <xs:sequence >

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="repositoryId"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="extension"
          nillable="true"
          type="cmism:cmisExtensionType" >

          <xs:annotation >

            <xs:documentation >

							This is an extension element to hold any
							repository or
							vendor-specific extensions
						
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="getRepositoryInfoResponse" >

    <xs:complexType >

      <xs:sequence >

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="repositoryInfo"
          type="cmis:cmisRepositoryInfoType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- getTypeChildren Operation -->

  <xs:element name="getTypeChildren" >

    <xs:complexType >

      <xs:sequence >

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="repositoryId"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="typeId"
          nillable="true"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="includePropertyDefinitions"
          nillable="true"
          type="xs:boolean" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="maxItems"
          nillable="true"
          type="xs:integer" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="skipCount"
          nillable="true"
          type="xs:integer" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="extension"
          nillable="true"
          type="cmism:cmisExtensionType" >

          <xs:annotation >

            <xs:documentation >

							This is an extension element to hold any
							repository or
							vendor-specific extensions
						
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="getTypeChildrenResponse" >

    <xs:complexType >

      <xs:sequence >

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="types"
          type="cmism:cmisTypeDefinitionListType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- getTypeDescendants Operation -->

  <xs:element name="getTypeDescendants" >

    <xs:complexType >

      <xs:sequence >

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="repositoryId"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="typeId"
          nillable="true"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="depth"
          nillable="true"
          type="xs:integer" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="includePropertyDefinitions"
          nillable="true"
          type="xs:boolean" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="extension"
          nillable="true"
          type="cmism:cmisExtensionType" >

          <xs:annotation >

            <xs:documentation >

							This is an extension element to hold any
							repository or
							vendor-specific extensions
						
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="getTypeDescendantsResponse" >

    <xs:complexType >

      <xs:sequence >

        <xs:element
          maxOccurs="unbounded"
          minOccurs="0"
          name="types"
          type="cmism:cmisTypeContainer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- getTypeDefinition Operation -->

  <xs:element name="getTypeDefinition" >

    <xs:complexType >

      <xs:sequence >

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="repositoryId"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="typeId"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="extension"
          nillable="true"
          type="cmism:cmisExtensionType" >

          <xs:annotation >

            <xs:documentation >

							This is an extension element to hold any
							repository or
							vendor-specific extensions
						
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="getTypeDefinitionResponse" >

    <xs:complexType >

      <xs:sequence >

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="type"
          type="cmis:cmisTypeDefinitionType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
  <!-- [Navigation Services] -->


  <!-- getDescendants Operation -->

  <xs:element name="getDescendants" >

    <xs:complexType >

      <xs:sequence >

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="repositoryId"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="folderId"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="depth"
          nillable="true"
          type="xs:integer" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="filter"
          nillable="true"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="includeAllowableActions"
          nillable="true"
          type="xs:boolean" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="includeRelationships"
          nillable="true"
          type="cmis:enumIncludeRelationships" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="renditionFilter"
          nillable="true"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="includePathSegment"
          nillable="true"
          type="xs:boolean" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="extension"
          nillable="true"
          type="cmism:cmisExtensionType" >

          <xs:annotation >

            <xs:documentation >

							This is an extension element to hold any
							repository or
							vendor-specific extensions
						
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="getDescendantsResponse" >

    <xs:complexType >

      <xs:sequence >

        <xs:element
          maxOccurs="unbounded"
          minOccurs="0"
          name="objects"
          type="cmism:cmisObjectInFolderContainerType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- getDescendants Operation -->

  <xs:element name="getFolderTree" >

    <xs:complexType >

      <xs:sequence >

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="repositoryId"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="folderId"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="depth"
          nillable="true"
          type="xs:integer" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="filter"
          nillable="true"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="includeAllowableActions"
          nillable="true"
          type="xs:boolean" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="includeRelationships"
          nillable="true"
          type="cmis:enumIncludeRelationships" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="renditionFilter"
          nillable="true"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="includePathSegment"
          nillable="true"
          type="xs:boolean" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="extension"
          nillable="true"
          type="cmism:cmisExtensionType" >

          <xs:annotation >

            <xs:documentation >

							This is an extension element to hold any
							repository or
							vendor-specific extensions
						
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="getFolderTreeResponse" >

    <xs:complexType >

      <xs:sequence >

        <xs:element
          maxOccurs="unbounded"
          minOccurs="0"
          name="objects"
          type="cmism:cmisObjectInFolderContainerType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- getChildren Operation -->

  <xs:element name="getChildren" >

    <xs:complexType >

      <xs:sequence >

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="repositoryId"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="folderId"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="filter"
          nillable="true"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="orderBy"
          nillable="true"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="includeAllowableActions"
          nillable="true"
          type="xs:boolean" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="includeRelationships"
          nillable="true"
          type="cmis:enumIncludeRelationships" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="renditionFilter"
          nillable="true"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="includePathSegment"
          nillable="true"
          type="xs:boolean" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="maxItems"
          nillable="true"
          type="xs:integer" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="skipCount"
          nillable="true"
          type="xs:integer" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="extension"
          nillable="true"
          type="cmism:cmisExtensionType" >

          <xs:annotation >

            <xs:documentation >

							This is an extension element to hold any
							repository or
							vendor-specific extensions
						
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="getChildrenResponse" >

    <xs:complexType >

      <xs:sequence >

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="objects"
          type="cmism:cmisObjectInFolderListType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- getFolderParent Operation -->

  <xs:element name="getFolderParent" >

    <xs:complexType >

      <xs:sequence >

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="repositoryId"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="folderId"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="filter"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="extension"
          nillable="true"
          type="cmism:cmisExtensionType" >

          <xs:annotation >

            <xs:documentation >

							This is an extension element to hold any
							repository or
							vendor-specific extensions
						
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="getFolderParentResponse" >

    <xs:complexType >

      <xs:sequence >

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="object"
          type="cmis:cmisObjectType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- getObjectParents Operation -->

  <xs:element name="getObjectParents" >

    <xs:complexType >

      <xs:sequence >

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="repositoryId"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="objectId"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="filter"
          nillable="true"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="includeAllowableActions"
          nillable="true"
          type="xs:boolean" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="includeRelationships"
          nillable="true"
          type="cmis:enumIncludeRelationships" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="renditionFilter"
          nillable="true"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="includeRelativePathSegment"
          nillable="true"
          type="xs:boolean" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="extension"
          nillable="true"
          type="cmism:cmisExtensionType" >

          <xs:annotation >

            <xs:documentation >

							This is an extension element to hold any
							repository or
							vendor-specific extensions
						
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="getObjectParentsResponse" >

    <xs:complexType >

      <xs:sequence >

        <xs:element
          maxOccurs="unbounded"
          minOccurs="0"
          name="parents"
          type="cmism:cmisObjectParentsType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- getRenditions Operation -->

  <xs:element name="getRenditions" >

    <xs:complexType >

      <xs:sequence >

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="repositoryId"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="objectId"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="renditionFilter"
          nillable="true"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="maxItems"
          nillable="true"
          type="xs:integer" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="skipCount"
          nillable="true"
          type="xs:integer" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="extension"
          nillable="true"
          type="cmism:cmisExtensionType" >

          <xs:annotation >

            <xs:documentation >

							This is an extension element to hold any
							repository or
							vendor-specific extensions
						
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="getRenditionsResponse" >

    <xs:complexType >

      <xs:sequence >

        <xs:element
          maxOccurs="unbounded"
          minOccurs="0"
          name="renditions"
          type="cmis:cmisRenditionType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- getCheckedoutDocs Operation -->

  <xs:element name="getCheckedOutDocs" >

    <xs:complexType >

      <xs:sequence >

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="repositoryId"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="folderId"
          nillable="true"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="filter"
          nillable="true"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="orderBy"
          nillable="true"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="includeAllowableActions"
          nillable="true"
          type="xs:boolean" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="includeRelationships"
          nillable="true"
          type="cmis:enumIncludeRelationships" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="renditionFilter"
          nillable="true"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="maxItems"
          nillable="true"
          type="xs:integer" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="skipCount"
          nillable="true"
          type="xs:integer" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="extension"
          nillable="true"
          type="cmism:cmisExtensionType" >

          <xs:annotation >

            <xs:documentation >

							This is an extension element to hold any
							repository or
							vendor-specific extensions
						
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="getCheckedOutDocsResponse" >

    <xs:complexType >

      <xs:sequence >

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="objects"
          type="cmism:cmisObjectListType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
  <!-- [Object Services] -->


  <!-- createDocument Operation -->

  <xs:element name="createDocument" >

    <xs:complexType >

      <xs:sequence >

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="repositoryId"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="properties"
          type="cmis:cmisPropertiesType" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="folderId"
          nillable="true"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="contentStream"
          nillable="true"
          type="cmism:cmisContentStreamType" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="versioningState"
          nillable="true"
          type="cmis:enumVersioningState" />

        <xs:element
          maxOccurs="unbounded"
          minOccurs="0"
          name="policies"
          nillable="true"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="addACEs"
          nillable="true"
          type="cmis:cmisAccessControlListType" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="removeACEs"
          nillable="true"
          type="cmis:cmisAccessControlListType" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="extension"
          nillable="true"
          type="cmism:cmisExtensionType" >

          <xs:annotation >

            <xs:documentation >

							This is an extension element to hold any
							repository or
							vendor-specific extensions
						
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="createDocumentResponse" >

    <xs:complexType >

      <xs:sequence >

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="objectId"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="extension"
          nillable="true"
          type="cmism:cmisExtensionType" >

          <xs:annotation >

            <xs:documentation >

							This is an extension element to hold any
							repository or
							vendor-specific extensions
						
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- createDocumentFromSource Operation -->

  <xs:element name="createDocumentFromSource" >

    <xs:complexType >

      <xs:sequence >

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="repositoryId"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="sourceId"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="properties"
          type="cmis:cmisPropertiesType" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="folderId"
          nillable="true"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="versioningState"
          nillable="true"
          type="cmis:enumVersioningState" />

        <xs:element
          maxOccurs="unbounded"
          minOccurs="0"
          name="policies"
          nillable="true"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="addACEs"
          nillable="true"
          type="cmis:cmisAccessControlListType" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="removeACEs"
          nillable="true"
          type="cmis:cmisAccessControlListType" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="extension"
          nillable="true"
          type="cmism:cmisExtensionType" >

          <xs:annotation >

            <xs:documentation >

							This is an extension element to hold any
							repository or
							vendor-specific extensions
						
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="createDocumentFromSourceResponse" >

    <xs:complexType >

      <xs:sequence >

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="objectId"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="extension"
          nillable="true"
          type="cmism:cmisExtensionType" >

          <xs:annotation >

            <xs:documentation >

							This is an extension element to hold any
							repository or
							vendor-specific extensions
						
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- createFolder Operation -->

  <xs:element name="createFolder" >

    <xs:complexType >

      <xs:sequence >

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="repositoryId"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="properties"
          type="cmis:cmisPropertiesType" />

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="folderId"
          type="xs:string" />

        <xs:element
          maxOccurs="unbounded"
          minOccurs="0"
          name="policies"
          nillable="true"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="addACEs"
          nillable="true"
          type="cmis:cmisAccessControlListType" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="removeACEs"
          nillable="true"
          type="cmis:cmisAccessControlListType" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="extension"
          nillable="true"
          type="cmism:cmisExtensionType" >

          <xs:annotation >

            <xs:documentation >

							This is an extension element to hold any
							repository or
							vendor-specific extensions
						
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="createFolderResponse" >

    <xs:complexType >

      <xs:sequence >

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="objectId"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="extension"
          nillable="true"
          type="cmism:cmisExtensionType" >

          <xs:annotation >

            <xs:documentation >

							This is an extension element to hold any
							repository or
							vendor-specific extensions
						
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- createRelationship Operation -->

  <xs:element name="createRelationship" >

    <xs:complexType >

      <xs:sequence >

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="repositoryId"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="properties"
          type="cmis:cmisPropertiesType" />

        <xs:element
          maxOccurs="unbounded"
          minOccurs="0"
          name="policies"
          nillable="true"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="addACEs"
          nillable="true"
          type="cmis:cmisAccessControlListType" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="removeACEs"
          nillable="true"
          type="cmis:cmisAccessControlListType" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="extension"
          nillable="true"
          type="cmism:cmisExtensionType" >

          <xs:annotation >

            <xs:documentation >

							This is an extension element to hold any
							repository or
							vendor-specific extensions
						
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="createRelationshipResponse" >

    <xs:complexType >

      <xs:sequence >

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="objectId"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="extension"
          nillable="true"
          type="cmism:cmisExtensionType" >

          <xs:annotation >

            <xs:documentation >

							This is an extension element to hold any
							repository or
							vendor-specific extensions
						
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- createPolicy Operation -->

  <xs:element name="createPolicy" >

    <xs:complexType >

      <xs:sequence >

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="repositoryId"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="properties"
          type="cmis:cmisPropertiesType" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="folderId"
          nillable="true"
          type="xs:string" />

        <xs:element
          maxOccurs="unbounded"
          minOccurs="0"
          name="policies"
          nillable="true"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="addACEs"
          nillable="true"
          type="cmis:cmisAccessControlListType" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="removeACEs"
          nillable="true"
          type="cmis:cmisAccessControlListType" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="extension"
          nillable="true"
          type="cmism:cmisExtensionType" >

          <xs:annotation >

            <xs:documentation >

							This is an extension element to hold any
							repository or
							vendor-specific extensions
						
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="createPolicyResponse" >

    <xs:complexType >

      <xs:sequence >

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="objectId"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="extension"
          nillable="true"
          type="cmism:cmisExtensionType" >

          <xs:annotation >

            <xs:documentation >

							This is an extension element to hold any
							repository or
							vendor-specific extensions
						
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- getAllowableActions Operation -->

  <xs:element name="getAllowableActions" >

    <xs:complexType >

      <xs:sequence >

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="repositoryId"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="objectId"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="extension"
          nillable="true"
          type="cmism:cmisExtensionType" >

          <xs:annotation >

            <xs:documentation >

							This is an extension element to hold any
							repository or
							vendor-specific extensions
						
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="getAllowableActionsResponse" >

    <xs:complexType >

      <xs:sequence >

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="allowableActions"
          type="cmis:cmisAllowableActionsType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- getProperties Operation -->

  <xs:element name="getProperties" >

    <xs:complexType >

      <xs:sequence >

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="repositoryId"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="objectId"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="filter"
          nillable="true"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="extension"
          nillable="true"
          type="cmism:cmisExtensionType" >

          <xs:annotation >

            <xs:documentation >

							This is an extension element to hold any
							repository or
							vendor-specific extensions
						
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="getPropertiesResponse" >

    <xs:complexType >

      <xs:sequence >

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="properties"
          type="cmis:cmisPropertiesType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- getObject Operation -->

  <xs:element name="getObject" >

    <xs:complexType >

      <xs:sequence >

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="repositoryId"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="objectId"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="filter"
          nillable="true"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="includeAllowableActions"
          nillable="true"
          type="xs:boolean" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="includeRelationships"
          nillable="true"
          type="cmis:enumIncludeRelationships" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="renditionFilter"
          nillable="true"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="includePolicyIds"
          nillable="true"
          type="xs:boolean" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="includeACL"
          nillable="true"
          type="xs:boolean" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="extension"
          nillable="true"
          type="cmism:cmisExtensionType" >

          <xs:annotation >

            <xs:documentation >

							This is an extension element to hold any
							repository or
							vendor-specific extensions
						
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="getObjectResponse" >

    <xs:complexType >

      <xs:sequence >

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="object"
          type="cmis:cmisObjectType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- getObjectByPath Operation -->

  <xs:element name="getObjectByPath" >

    <xs:complexType >

      <xs:sequence >

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="repositoryId"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="path"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="filter"
          nillable="true"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="includeAllowableActions"
          nillable="true"
          type="xs:boolean" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="includeRelationships"
          nillable="true"
          type="cmis:enumIncludeRelationships" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="renditionFilter"
          nillable="true"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="includePolicyIds"
          nillable="true"
          type="xs:boolean" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="includeACL"
          nillable="true"
          type="xs:boolean" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="extension"
          nillable="true"
          type="cmism:cmisExtensionType" >

          <xs:annotation >

            <xs:documentation >

							This is an extension element to hold any
							repository or
							vendor-specific extensions
					
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="getObjectByPathResponse" >

    <xs:complexType >

      <xs:sequence >

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="object"
          type="cmis:cmisObjectType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- getContentStream Operation -->

  <xs:element name="getContentStream" >

    <xs:complexType >

      <xs:sequence >

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="repositoryId"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="objectId"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="streamId"
          nillable="true"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="offset"
          nillable="true"
          type="xs:integer" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="length"
          nillable="true"
          type="xs:integer" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="extension"
          nillable="true"
          type="cmism:cmisExtensionType" >

          <xs:annotation >

            <xs:documentation >

							This is an extension element to hold any
							repository or
							vendor-specific extensions
					
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="getContentStreamResponse" >

    <xs:complexType >

      <xs:sequence >

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="contentStream"
          type="cmism:cmisContentStreamType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- updateProperties Operation -->

  <xs:element name="updateProperties" >

    <xs:complexType >

      <xs:sequence >

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="repositoryId"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="objectId"
          type="xs:string" />
        <!--
					if objectId is present in the properties the value must match this
					objectId
        -->

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="changeToken"
          nillable="true"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="properties"
          type="cmis:cmisPropertiesType" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="extension"
          nillable="true"
          type="cmism:cmisExtensionType" >

          <xs:annotation >

            <xs:documentation >

							This is an extension element to hold any
							repository or
							vendor-specific extensions
					
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="updatePropertiesResponse" >

    <xs:complexType >

      <xs:sequence >

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="objectId"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="changeToken"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="extension"
          nillable="true"
          type="cmism:cmisExtensionType" >

          <xs:annotation >

            <xs:documentation >

							This is an extension element to hold any
							repository or
							vendor-specific extensions
					
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- moveObject Operation -->

  <xs:element name="moveObject" >

    <xs:complexType >

      <xs:sequence >

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="repositoryId"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="objectId"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="targetFolderId"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="sourceFolderId"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="extension"
          nillable="true"
          type="cmism:cmisExtensionType" >

          <xs:annotation >

            <xs:documentation >

							This is an extension element to hold any
							repository or
							vendor-specific extensions
						
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="moveObjectResponse" >

    <xs:complexType >

      <xs:sequence >

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="objectId"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="extension"
          nillable="true"
          type="cmism:cmisExtensionType" >

          <xs:annotation >

            <xs:documentation >

							This is an extension element to hold any
							repository or
							vendor-specific extensions
						
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- deleteObject Operation -->

  <xs:element name="deleteObject" >

    <xs:complexType >

      <xs:sequence >

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="repositoryId"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="objectId"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="allVersions"
          nillable="true"
          type="xs:boolean" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="extension"
          nillable="true"
          type="cmism:cmisExtensionType" >

          <xs:annotation >

            <xs:documentation >

							This is an extension element to hold any
							repository or
							vendor-specific extensions
						
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="deleteObjectResponse" >

    <xs:complexType >

      <xs:sequence >

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="extension"
          nillable="true"
          type="cmism:cmisExtensionType" >

          <xs:annotation >

            <xs:documentation >

							This is an extension element to hold any
							repository or
							vendor-specific extensions
						
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- deleteTree Operation -->

  <xs:element name="deleteTree" >

    <xs:complexType >

      <xs:sequence >

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="repositoryId"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="folderId"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="allVersions"
          nillable="true"
          type="xs:boolean" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="unfileObjects"
          nillable="true"
          type="cmis:enumUnfileObject" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="continueOnFailure"
          nillable="true"
          type="xs:boolean" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="extension"
          nillable="true"
          type="cmism:cmisExtensionType" >

          <xs:annotation >

            <xs:documentation >

							This is an extension element to hold any
							repository or
							vendor-specific extensions
						
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="deleteTreeResponse" >

    <xs:complexType >

      <xs:sequence >

        <xs:element name="failedToDelete" >

          <xs:complexType >

            <xs:sequence >

              <xs:element
                maxOccurs="unbounded"
                minOccurs="0"
                name="objectIds"
                type="xs:string" />

              <xs:any
                maxOccurs="unbounded"
                minOccurs="0"
                namespace="##other"
                processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- setContentStream Operation -->

  <xs:element name="setContentStream" >

    <xs:complexType >

      <xs:sequence >

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="repositoryId"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="objectId"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="overwriteFlag"
          nillable="true"
          type="xs:boolean" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="changeToken"
          nillable="true"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="contentStream"
          type="cmism:cmisContentStreamType" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="extension"
          nillable="true"
          type="cmism:cmisExtensionType" >

          <xs:annotation >

            <xs:documentation >

							This is an extension element to hold any
							repository or
							vendor-specific extensions
						
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="setContentStreamResponse" >

    <xs:complexType >

      <xs:sequence >

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="objectId"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="changeToken"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="extension"
          nillable="true"
          type="cmism:cmisExtensionType" >

          <xs:annotation >

            <xs:documentation >

							This is an extension element to hold any
							repository or
							vendor-specific extensions
						
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- deleteContentStream Operation -->

  <xs:element name="deleteContentStream" >

    <xs:complexType >

      <xs:sequence >

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="repositoryId"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="objectId"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="changeToken"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="extension"
          nillable="true"
          type="cmism:cmisExtensionType" >

          <xs:annotation >

            <xs:documentation >

							This is an extension element to hold any
							repository or
							vendor-specific extensions
						
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="deleteContentStreamResponse" >

    <xs:complexType >

      <xs:sequence >

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="objectId"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="changeToken"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="extension"
          nillable="true"
          type="cmism:cmisExtensionType" >

          <xs:annotation >

            <xs:documentation >

							This is an extension element to hold any
							repository or
							vendor-specific extensions
						
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
  <!-- [Multi-filing Services] -->


  <!-- addObjectToFolder Operation -->

  <xs:element name="addObjectToFolder" >

    <xs:complexType >

      <xs:sequence >

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="repositoryId"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="objectId"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="folderId"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="allVersions"
          type="xs:boolean" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="extension"
          nillable="true"
          type="cmism:cmisExtensionType" >

          <xs:annotation >

            <xs:documentation >

							This is an extension element to hold any
							repository or
							vendor-specific extensions
						
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="addObjectToFolderResponse" >

    <xs:complexType >

      <xs:sequence >

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="extension"
          nillable="true"
          type="cmism:cmisExtensionType" >

          <xs:annotation >

            <xs:documentation >

							This is an extension element to hold any
							repository or
							vendor-specific extensions
					
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- removeObjectFromFolder Operation -->

  <xs:element name="removeObjectFromFolder" >

    <xs:complexType >

      <xs:sequence >

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="repositoryId"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="objectId"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="folderId"
          nillable="true"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="extension"
          nillable="true"
          type="cmism:cmisExtensionType" >

          <xs:annotation >

            <xs:documentation >

							This is an extension element to hold any
							repository or
							vendor-specific extensions
						
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="removeObjectFromFolderResponse" >

    <xs:complexType >

      <xs:sequence >

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="extension"
          nillable="true"
          type="cmism:cmisExtensionType" >

          <xs:annotation >

            <xs:documentation >

							This is an extension element to hold any
							repository or
							vendor-specific extensions
						
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
  <!-- [Discovery Services] -->


  <!-- query Operation -->

  <xs:element name="query" >

    <xs:complexType >

      <xs:sequence >

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="repositoryId"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="statement"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="searchAllVersions"
          nillable="true"
          type="xs:boolean" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="includeAllowableActions"
          nillable="true"
          type="xs:boolean" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="includeRelationships"
          nillable="true"
          type="cmis:enumIncludeRelationships" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="renditionFilter"
          nillable="true"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="maxItems"
          nillable="true"
          type="xs:integer" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="skipCount"
          nillable="true"
          type="xs:integer" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="extension"
          nillable="true"
          type="cmism:cmisExtensionType" >

          <xs:annotation >

            <xs:documentation >

							This is an extension element to hold any
							repository or
							vendor-specific extensions
						
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>

      <xs:attributeGroup ref="cmis:cmisUndefinedAttribute" />
    </xs:complexType>
  </xs:element>

  <xs:element name="queryResponse" >

    <xs:complexType >

      <xs:sequence >

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="objects"
          type="cmism:cmisObjectListType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- getContentChanges operation -->

  <xs:element name="getContentChanges" >

    <xs:complexType >

      <xs:sequence >

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="repositoryId"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="changeLogToken"
          nillable="true"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="includeProperties"
          nillable="true"
          type="xs:boolean" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="filter"
          nillable="true"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="includePolicyIds"
          nillable="true"
          type="xs:boolean" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="includeACL"
          nillable="true"
          type="xs:boolean" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="maxItems"
          nillable="true"
          type="xs:integer" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="extension"
          nillable="true"
          type="cmism:cmisExtensionType" >

          <xs:annotation >

            <xs:documentation >

							This is an extension element to hold any
							repository or
							vendor-specific extensions
						
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="getContentChangesResponse" >

    <xs:complexType >

      <xs:sequence >

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="objects"
          type="cmism:cmisObjectListType" />

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="changeLogToken"
          type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
  <!-- [Versioning Services] -->


  <!-- checkOut Operation -->

  <xs:element name="checkOut" >

    <xs:complexType >

      <xs:sequence >

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="repositoryId"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="objectId"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="extension"
          nillable="true"
          type="cmism:cmisExtensionType" >

          <xs:annotation >

            <xs:documentation >

							This is an extension element to hold any
							repository or
							vendor-specific extensions
						
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="checkOutResponse" >

    <xs:complexType >

      <xs:sequence >

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="objectId"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="contentCopied"
          type="xs:boolean" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="extension"
          nillable="true"
          type="cmism:cmisExtensionType" >

          <xs:annotation >

            <xs:documentation >

							This is an extension element to hold any
							repository or
							vendor-specific extensions
						
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- cancelCheckOut Operation -->

  <xs:element name="cancelCheckOut" >

    <xs:complexType >

      <xs:sequence >

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="repositoryId"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="objectId"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="extension"
          nillable="true"
          type="cmism:cmisExtensionType" >

          <xs:annotation >

            <xs:documentation >

							This is an extension element to hold any
							repository or
							vendor-specific extensions
						
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="cancelCheckOutResponse" >

    <xs:complexType >

      <xs:sequence >

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="extension"
          nillable="true"
          type="cmism:cmisExtensionType" >

          <xs:annotation >

            <xs:documentation >

							This is an extension element to hold any
							repository or
							vendor-specific extensions
						
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- checkIn Operation -->

  <xs:element name="checkIn" >

    <xs:complexType >

      <xs:sequence >

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="repositoryId"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="objectId"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="major"
          nillable="true"
          type="xs:boolean" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="properties"
          nillable="true"
          type="cmis:cmisPropertiesType" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="contentStream"
          nillable="true"
          type="cmism:cmisContentStreamType" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="checkinComment"
          nillable="true"
          type="xs:string" />

        <xs:element
          maxOccurs="unbounded"
          minOccurs="0"
          name="policies"
          nillable="true"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="addACEs"
          nillable="true"
          type="cmis:cmisAccessControlListType" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="removeACEs"
          nillable="true"
          type="cmis:cmisAccessControlListType" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="extension"
          nillable="true"
          type="cmism:cmisExtensionType" >

          <xs:annotation >

            <xs:documentation >

							This is an extension element to hold any
							repository or
							vendor-specific extensions
						
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="checkInResponse" >

    <xs:complexType >

      <xs:sequence >

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="objectId"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="extension"
          nillable="true"
          type="cmism:cmisExtensionType" >

          <xs:annotation >

            <xs:documentation >

							This is an extension element to hold any
							repository or
							vendor-specific extensions
						
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- getPropertiesOfLatestVersion -->

  <xs:element name="getPropertiesOfLatestVersion" >

    <xs:complexType >

      <xs:sequence >

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="repositoryId"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="objectId"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="major"
          type="xs:boolean" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="filter"
          nillable="true"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="extension"
          nillable="true"
          type="cmism:cmisExtensionType" >

          <xs:annotation >

            <xs:documentation >

							This is an extension element to hold any
							repository or
							vendor-specific extensions
						
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="getPropertiesOfLatestVersionResponse" >

    <xs:complexType >

      <xs:sequence >

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="properties"
          type="cmis:cmisPropertiesType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- getObjectOfLatestVersion Operation -->

  <xs:element name="getObjectOfLatestVersion" >

    <xs:complexType >

      <xs:sequence >

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="repositoryId"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="objectId"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="major"
          type="xs:boolean" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="filter"
          nillable="true"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="includeAllowableActions"
          nillable="true"
          type="xs:boolean" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="includeRelationships"
          nillable="true"
          type="cmis:enumIncludeRelationships" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="renditionFilter"
          nillable="true"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="includePolicyIds"
          nillable="true"
          type="xs:boolean" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="includeACL"
          nillable="true"
          type="xs:boolean" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="extension"
          nillable="true"
          type="cmism:cmisExtensionType" >

          <xs:annotation >

            <xs:documentation >

							This is an extension element to hold any
							repository or
							vendor-specific extensions
						
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="getObjectOfLatestVersionResponse" >

    <xs:complexType >

      <xs:sequence >

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="object"
          type="cmis:cmisObjectType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- getAllVersions Operation -->

  <xs:element name="getAllVersions" >

    <xs:complexType >

      <xs:sequence >

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="repositoryId"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="objectId"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="filter"
          nillable="true"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="includeAllowableActions"
          nillable="true"
          type="xs:boolean" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="extension"
          nillable="true"
          type="cmism:cmisExtensionType" >

          <xs:annotation >

            <xs:documentation >

							This is an extension element to hold any
							repository or
							vendor-specific extensions
						
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="getAllVersionsResponse" >

    <xs:complexType >

      <xs:sequence >

        <xs:element
          maxOccurs="unbounded"
          minOccurs="0"
          name="objects"
          type="cmis:cmisObjectType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
  <!-- [Relationship Services] -->


  <!-- getRelationships Operation -->

  <xs:element name="getObjectRelationships" >

    <xs:complexType >

      <xs:sequence >

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="repositoryId"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="objectId"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="includeSubRelationshipTypes"
          type="xs:boolean" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="relationshipDirection"
          nillable="true"
          type="cmis:enumRelationshipDirection" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="typeId"
          nillable="true"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="filter"
          nillable="true"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="includeAllowableActions"
          nillable="true"
          type="xs:boolean" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="maxItems"
          nillable="true"
          type="xs:integer" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="skipCount"
          nillable="true"
          type="xs:integer" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="extension"
          nillable="true"
          type="cmism:cmisExtensionType" >

          <xs:annotation >

            <xs:documentation >

							This is an extension element to hold any
							repository or
							vendor-specific extensions
						
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="getObjectRelationshipsResponse" >

    <xs:complexType >

      <xs:sequence >

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="objects"
          type="cmism:cmisObjectListType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
  <!-- [Policy Services] -->


  <!-- applyPolicy Operation -->

  <xs:element name="applyPolicy" >

    <xs:complexType >

      <xs:sequence >

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="repositoryId"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="policyId"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="objectId"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="extension"
          nillable="true"
          type="cmism:cmisExtensionType" >

          <xs:annotation >

            <xs:documentation >

							This is an extension element to hold any
							repository or
							vendor-specific extensions
						
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="applyPolicyResponse" >

    <xs:complexType >

      <xs:sequence >

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="extension"
          nillable="true"
          type="cmism:cmisExtensionType" >

          <xs:annotation >

            <xs:documentation >

							This is an extension element to hold any
							repository or
							vendor-specific extensions
						
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- removePolicy Operation -->

  <xs:element name="removePolicy" >

    <xs:complexType >

      <xs:sequence >

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="repositoryId"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="policyId"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="objectId"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="extension"
          nillable="true"
          type="cmism:cmisExtensionType" >

          <xs:annotation >

            <xs:documentation >

							This is an extension element to hold any
							repository or
							vendor-specific extensions
						
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="removePolicyResponse" >

    <xs:complexType >

      <xs:sequence >

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="extension"
          nillable="true"
          type="cmism:cmisExtensionType" >

          <xs:annotation >

            <xs:documentation >

							This is an extension element to hold any
							repository or
							vendor-specific extensions
						
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- getAppliedPolicies Operation -->

  <xs:element name="getAppliedPolicies" >

    <xs:complexType >

      <xs:sequence >

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="repositoryId"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="objectId"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="filter"
          nillable="true"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="extension"
          nillable="true"
          type="cmism:cmisExtensionType" >

          <xs:annotation >

            <xs:documentation >

							This is an extension element to hold any
							repository or
							vendor-specific extensions
						
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="getAppliedPoliciesResponse" >

    <xs:complexType >

      <xs:sequence >

        <xs:element
          maxOccurs="unbounded"
          minOccurs="0"
          name="objects"
          type="cmis:cmisObjectType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- getACL Operation -->

  <xs:element name="getACL" >

    <xs:complexType >

      <xs:sequence >

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="repositoryId"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="objectId"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="onlyBasicPermissions"
          nillable="true"
          type="xs:boolean" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="extension"
          nillable="true"
          type="cmism:cmisExtensionType" >

          <xs:annotation >

            <xs:documentation >

							This is an extension element to hold any
							repository or
							vendor-specific extensions
						
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="getACLResponse" >

    <xs:complexType >

      <xs:sequence >

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="ACL"
          type="cmism:cmisACLType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- applyACL Operation -->

  <xs:element name="applyACL" >

    <xs:complexType >

      <xs:sequence >

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="repositoryId"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="objectId"
          type="xs:string" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="addACEs"
          type="cmis:cmisAccessControlListType" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="removeACEs"
          type="cmis:cmisAccessControlListType" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="ACLPropagation"
          nillable="true"
          type="cmis:enumACLPropagation" />

        <xs:element
          maxOccurs="1"
          minOccurs="0"
          name="extension"
          nillable="true"
          type="cmism:cmisExtensionType" >

          <xs:annotation >

            <xs:documentation >

							This is an extension element to hold any
							repository or
							vendor-specific extensions
					
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="applyACLResponse" >

    <xs:complexType >

      <xs:sequence >

        <xs:element
          maxOccurs="1"
          minOccurs="1"
          name="ACL"
          type="cmism:cmisACLType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>